# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [1]:
import pandas as pd

In [6]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'
df = pd.read_csv(url)

In [7]:
#pd.set_option('display.max_columns', None)

In [8]:
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [9]:
df["Total Claim Amount"] = df["Total Claim Amount"].round(2)

In [10]:
df["Response"] = df["Response"].str.strip().str.title()

In [11]:
df_filtered = df[(df["Total Claim Amount"] > 1000.00) & (df["Response"] == "Yes")]

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [12]:
df[df["Response"] == "Yes"].groupby(["Policy Type","Gender"]).agg({"Total Claim Amount":"mean"})

                       Total Claim Amount
Policy Type    Gender
Corporate Auto F               433.738462
               M               408.582468
Personal Auto  F               452.966037
               M               457.010149
Special Auto   F               453.279714
               M               429.528125

In [ ]:
# It appears that for customers who responded "Yes" to the marketing campaign
# females generally have slightly higher average total claim amounts compared to males.
# Also Personal Auto policies for males show the highest average claim amounts

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [13]:
df_filtered_2 = df.groupby("State").agg({"Customer":"count"})
df_filtered_2

            Customer
State
Arizona         1937
California      3552
Nevada           993
Oregon          2909
Washington       888

In [15]:
df_filtered_2[df_filtered_2["Customer"] > 500]
# All states have more than 500 customers

            Customer
State
Arizona         1937
California      3552
Nevada           993
Oregon          2909
Washington       888

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [16]:
df.groupby(["Education","Gender"]).agg({"Customer Lifetime Value":("max","min","median")})

                            Customer Lifetime Value
                                                max          min       median
Education            Gender
Bachelor             F                  73225.95652  1904.000852  5640.505303
                     M                  67907.27050  1898.007675  5548.031892
College              F                  61850.18803  1898.683686  5623.611187
                     M                  61134.68307  1918.119700  6005.847375
Doctor               F                  44856.11397  2395.570000  5332.462694
                     M                  32677.34284  2267.604038  5577.669457
High School or Below F                  55277.44589  2144.921535  6039.553187
                     M                  83325.38119  1940.981221  6286.731006
Master               F                  51016.06704  2417.777032  5729.855012
                     M                  50568.25912  2272.307310  5579.099207

In [ ]:
# I appears that males in the "High School or Below" category have higher maximum and median 
# customer lifetime values. Women in the "Doctor" category have the lowest median customer lifetime values

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [ ]:
# your code goes here